{{!-- 註冊訊息 --}}
{{#each registerErrors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{this.msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

{{!-- 登入訊息 --}}
{{#if login_error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{login_error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
{{#if login_success}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{login_success}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{!-- 登出訊息 --}}
{{#if logout_success}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{logout_success}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{!-- 權限管理訊息 --}}
{{#if access_warning}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{access_warning}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}