<div class="container mt-4">
  <form action="/filter">
    <div class="row">
      <div class="col-6">
        總金額
        <span>{{totalAmount}}</span>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-end">
          <div class="filter-option">
            <select class="custom-select" onchange="this.form.submit()" name="category">
              {{#each categories}}
              <option value="{{this.value}}" {{#ifEquals ../targetCategory this.value}} selected {{/ifEquals}}>
                {{this.title}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>

  {{!-- expense items --}}
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto mr-auto">
          {{{ this.categoryIcon }}}
          {{this.name}}
          {{this.date}}
          {{this.amount}}
        </div>
        <div class="col-auto">
          <a class="btn btn-secondary" href="./records/{{ this._id }}/edit">Edit</a>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>

</div>